# {{ carrier_title }}

Ruby wrapper for {{ carrier_title }}'s Rest API

{{ carrier_title }} API documentation: {{ add api docs url here }}


## Installation

Add this line to your application's Gemfile:

```ruby
gem "{{ carrier_name }}", branch: "main", github: "BloomAndWild/{{ carrier_name }}"
```

And then execute:

    $ bundle

Or install it yourself as:

    $ gem install {{ carrier_name }}


## Running specs

To run the specs, add your development credentials to your dev env:
```
Add credentials here
```

And run the specs via:

```
bundle exec rspec
```

## Contributing

Bug reports and pull requests are welcome on GitHub at {{ repo_url }}.
