---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.postnl.nl/shipment/v2_2/label?confirm=true
    body:
      encoding: UTF-8
      string: '{"broken":"json"}'
    headers:
      Apikey:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Gravitee-Transaction-Id:
      - 6fd91146-49de-40a3-9911-4649de30a3c2
      X-Gravitee-Request-Id:
      - 6fd91146-49de-40a3-9911-4649de30a3c2
    body:
      encoding: UTF-8
      string: '{"Errors":[{"Code":24,"Description":"The user is not authorized for
        this operation based on the provided CustomerCode."},{"Code":24,"Description":"The
        user is not authorized for this operation based on the provided CustomerNumber."}]}'
  recorded_at: Thu, 12 Oct 2023 13:25:24 GMT
recorded_with: VCR 6.1.0
